* {
    padding: 0;
    margin: 0;
}

.header {
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 10px;
    background-color: #ffc91f;

}

.header h1 {
    color: #297600;
    font-family: hercules;
    font-size: 3em;
    text-shadow: 2px 2px 4px #297600;

}

.header img {
    width: 220px;
    height: 150px;
}

body {
    background-image: url(/img/bg2.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
   
}

nav {
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 15px;
    margin-left: -15px;
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: #ffcb1ffd;
}



nav a {
    text-decoration: none;
    font-size: 25px;
    color: #297600;
    display: flex;
    align-items: center;
    width: auto;
    height: auto;

}

.menu a:hover {
    color: #fff;
    transition: 0.5s;
    width: auto;
    height: auto;
    padding: 7px;
    border-radius: 10px;
}

.row {
    display: flex;
    justify-content: center;
    flex-direction: row;
    width: 80%;
    height: auto;
    flex-wrap: wrap;
    align-content: center;
}

.col-6 {
    width: 40%;
    height: auto;
    padding: 10px;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    flex-direction: row;
}

.container {
    width: 100%;
    height: auto;
    display: flex;
    align-content: center;
    justify-content: center;
}