* {
    padding: 0;
    margin: 0;

}

body {
    background-image: url(/img/svg1.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;


}

.header {
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 10px;
    background-color: #ffc91f;

}

.header h1 {
    color: #297600;
    font-family: 'Times New Roman', Times, serif;
    font-size: 3em;
    text-shadow: 2px 2px 4px #297600;

}

.header img {
    width: 220px;
    height: 150px;
}

nav {
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 15px;
    margin-left: -4px;
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: #ffcb1ffd;

}

nav a {
    text-decoration: none;
    font-size: 25px;
    color: #297600;
    display: flex;
    align-items: center;
    width: auto;
    height: auto;

}

h2 {
    color: #297743;
}

.menu a:hover {
    color: #fff;
    transition: 0.5s;
    width: auto;
    height: auto;
    padding: 7px;
    border-radius: 10px;
}

.center {
    text-align: center;
    color: #ffc91f;
    padding: 10px;
}

.container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    width: 90%;


}

.article1 {

    width: 45%;
    height: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 10px;
}

.article2 {

    width: 45%;
    height: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 10px;
}

.image {
    width: 350px;
    border-radius: 10px;
    height: 200px;
    border: solid 2px #ffc91f;
    
    margin: 10px;
}

.container2 {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    width: 90%;

}

.article_1 {

    width: 45%;
    height: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 10px;
}

.article_2 {

    width: 45%;
    height: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 10px;
}

.container3 {
    background-image: url(/img/bg2.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    width: 90%;

}

.p_modi {
    color: #000;
    font-family: font-family: 'Amatic SC', cursive;
    ;
    font-size: 20px;
}

.p_modi:hover {
    color: darkred;
    border: #000 solid 3px;
    font-size: 20px;
}

.article__1 {

    width: 45%;
    height: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 10px;
}

.article__2 {

    width: 45%;
    height: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 10px;
}